{% extends "base.html" %}

{% block head_content %}
    <title>List of cases</title>
{% endblock%}
<!DOCTYPE html>
{% block container %}
    <div id="box-feed">
        <table class="table" >
            
            <tr class="table-primary">
                <th scope="col">Case</th>
                <th scope="col">Step<a href="{% url 'cases:list' %}?ordering=step&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">▼</a></th>
                <th scope="col">Surgery type<a href="{% url 'cases:list' %}?ordering=surgery_type&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">▼</a></th>
                <th scope="col">QC?<a href="{% url 'cases:list' %}?ordering=is_qc&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">▼</a></th>
                <th scope="col">Complex?</th>
                <th scope="col">Rejected?</th>
                <th scope="col">Time<a href="{% url 'cases:list' %}?ordering=time&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">▼</a></th>
                <th scope="col">Comments</th>
                <th scope="col">Created <a href="{% url 'cases:list' %}?ordering=created&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">▼</a></th>
            </tr>
            </thead>
            <tbody>
            {% for case in cases %}
                {% if user.username == case.user.username %}    
                    <tr>
                        <td>{{case.case_id}}</td>
                        <td>{{case.step}}</td>
                        <td>{{case.surgery_type}}</td>
                        <td>{{case.is_qc}}</td>
                        <td>{{case.is_complex}}</td>
                        <td>{{case.is_rejected}}</td>
                        <td>{{case.time}}</td>
                        <td>{{case.comments}}</td>
                        <td>{{case.created}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock %}