{% extends "base.html" %}
{% load static %}
{% block head_content %}
    <title>Update Profile</title>
{% endblock %}
<!DOCTYPE html>

{% block container %}
<div   class="container h-100">
    <div class="row h-100 justify-content-center " id="box-feed">
        <div class="col-sm-12 col-md-5 col-lg-8 ci pt-2 pl-5 pr-5 pb-5" id="auth-container">
            
            <form action="{% url 'users:update_profile' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="media">
                    {% if profile.picture %}
                        <img src="{{ profile.picture.url }}" class="rounded-circle" height="50" />
                    {% else%}
                        <img src="{% static 'img/default-profile.png' %}" class="rounded-circle" height="50" />
                    {% endif %}

                    <div class="media-body">
                        <h5 class="ml-4">@{{ user.username }} | {{ user.get_full_name }}</h5>
                        <p class="ml-4"><input type="file" name="picture"></p>
                    </div>
                </div>

                {% for error in form.picture.errors %}
                <div class="alert alert-danger">
                    <b>Picture: </b>{{ error }}
                </div>
                {% endfor %}

                <div class="form-group">
                    <h4>Trained In:</h4>
                    <input
                        class="form-control"
                        type="text"
                        name="trained_in"
                        placeholder="Trained In"
                        
                    />
                    <div class="invalid-feedback">
                        {% for error in form.website.errors %}
                            {{ error }}
                        {% endfor%}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-5">Update info</button>
            </form>          
        </div>  
    </div>
</div>
{% endblock %}